# X-posting to medium
# use this front matter
# jekyll-crosspost_to_medium:
#   enabled: true | false
#   cache: .jekyll-crosspost_to_medium
#   status: public (default) | draft | unlisted
#   license: all-rights-reserved (default) | cc-40-by | cc-40-by-sa | cc-40-by-nd | cc-40-by-nc | cc-40-by-nc-nd | cc-40-by-nc-sa | cc-40-zero | public-domain
#   text: '<p><i>Your (optional) signoff for the post.</i></p>',
#   backdate: true (default) | false
MEDIUM_INTEGRATION_TOKEN=
MEDIUM_USER_ID=
